In [1]:
import numpy as np 
import pandas as pd 

import os

In [2]:
train = pd.read_csv('/kaggle/input/playground-series-s4e10/train.csv')

In [3]:
!pip install kavian

Collecting kavian
  Downloading kavian-0.3.0-py3-none-any.whl.metadata (697 bytes)
Requirement already satisfied: numpy in /opt/conda/lib/python3.10/site-packages (from kavian) (1.26.4)
Requirement already satisfied: pandas in /opt/conda/lib/python3.10/site-packages (from kavian) (2.2.3)
Requirement already satisfied: scikit-learn in /opt/conda/lib/python3.10/site-packages (from kavian) (1.2.2)
Requirement already satisfied: rich in /opt/conda/lib/python3.10/site-packages (from kavian) (13.7.1)
Requirement already satisfied: pytest in /opt/conda/lib/python3.10/site-packages (from kavian) (8.3.3)
Requirement already satisfied: statsmodels in /opt/conda/lib/python3.10/site-packages (from kavian) (0.14.2)
Requirement already satisfied: scipy in /opt/conda/lib/python3.10/site-packages (from kavian) (1.14.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/conda/lib/python3.10/site-packages (from pandas->kavian) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.10/site-packages (from pandas->kavian) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /opt/conda/lib/python3.10/site-packages (from pandas->kavian) (2024.1)
Requirement already satisfied: iniconfig in /opt/conda/lib/python3.10/site-packages (from pytest->kavian) (2.0.0)
Requirement already satisfied: packaging in /opt/conda/lib/python3.10/site-packages (from pytest->kavian) (21.3)
Requirement already satisfied: pluggy<2,>=1.5 in /opt/conda/lib/python3.10/site-packages (from pytest->kavian) (1.5.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc8 in /opt/conda/lib/python3.10/site-packages (from pytest->kavian) (1.2.0)
Requirement already satisfied: tomli>=1 in /opt/conda/lib/python3.10/site-packages (from pytest->kavian) (2.0.1)
Requirement already satisfied: markdown-it-py>=2.2.0 in /opt/conda/lib/python3.10/site-packages (from rich->kavian) (3.0.0)
Requirement already satisfied: pygments<3.0.0,>=2.13.0 in /opt/conda/lib/python3.10/site-packages (from rich->kavian) (2.18.0)
Requirement already satisfied: joblib>=1.1.1 in /opt/conda/lib/python3.10/site-packages (from scikit-learn->kavian) (1.4.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in /opt/conda/lib/python3.10/site-packages (from scikit-learn->kavian) (3.5.0)
Requirement already satisfied: patsy>=0.5.6 in /opt/conda/lib/python3.10/site-packages (from statsmodels->kavian) (0.5.6)
Requirement already satisfied: mdurl~=0.1 in /opt/conda/lib/python3.10/site-packages (from markdown-it-py>=2.2.0->rich->kavian) (0.1.2)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /opt/conda/lib/python3.10/site-packages (from packaging->pytest->kavian) (3.1.2)
Requirement already satisfied: six in /opt/conda/lib/python3.10/site-packages (from patsy>=0.5.6->statsmodels->kavian) (1.16.0)
Downloading kavian-0.3.0-py3-none-any.whl (17 kB)
Installing collected packages: kavian
Successfully installed kavian-0.3.0

In [4]:
from kavian.eda.tabular import info, describe

info(train)

table size: 58645 • no. columns: 13 • memory usage: 17.77 MB